<div class="wrapper navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
        <span>&nbsp;<span class="text-blue text-bolder">Blue</span>Paid</span>
      </a>
    </div>

    <p class="navbar-text navbar-right">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Hi, Sittinut
    </p>
    <button class="btn btn-danger btn-sm navbar-btn navbar-right">
      <span class="glyphicon glyphicon-off"></span>&nbsp;Logout
    </button>
  </div>
</div>