<div class="margin-zero wrapper container">
  <div class="row">
    <div id="report" class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
      </div>
    </div>
    <div id="dashboard-content" class="col-md-9">
      <p class="margin-zero">dsfasfasf</p>
    </div>
  </div>
</div>